{% extends 'base.html.twig' %}

{% block title %}
    <title>Homepage: {{ num }}</title>
{% endblock %}

{% block content %}
    <h1>Homepage</h1>

    {% if num %}
        <h3>Number: {{ num }}</h3>
    {% endif %}
{% endblock %}